<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome to programming world
        style
            include ../static/style.css
    body
        header
            ul
                div.logo
                    img(src="/static/logo.jpg", alt="", srcset="")
                li #[a(href='/') Home]
                li #[a(href='/') Compititions]
                li #[a(href='/') Languages]
                li #[a(href='/') Quiz]
                li #[a(href='/') Codding Hub]
                li #[a(href='/') About Us]
                li #[a(href='register') Registration]
        section#intro
            div#hone
                h1 Any fool can write code that a computer can understand...
                
            div#htwo    
                h2 Good programmers write code that humans can understand

             
        section#Mission
            h1 Our Mission
            div.container
                div#cyber.sub_sontainer
                   h2 Artificial Intlligence
                   img(src="/static/card1.webp", alt="", srcset="")
                   div.text
                    h2 What is AI?
                    hr
                    p Ans:In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and animals. Leading AI textbooks define the field as the study of "intelligent agents"
                div#cyber.sub_sontainer
                   h2 Internet of Things
                   img(src="/static/card2.webp", alt="", srcset="")
                   div.text
                    h2 What is IOT?
                    hr
                    p Ans:The Internet of Things, or IoT, refers to the billions of physical devices around the world that are now connected to the internet, all collecting and sharing data. Thanks to the arrival of super-cheap computer chips and the ubiquity of wireless networks. 
                   
                div#cyber.sub_sontainer
                   h2 Cyber Security
                   img(src="/static/card3.webp", alt="", srcset="")
                   div.text
                    h2 What is Hacking?
                    hr
                    p Ans:Hacking refers to activities that seek to compromise digital devices, such as computers, smartphones, tablets, and even entire networks. And while hacking might not always be for malicious purposes, nowadays most references to hacking, and hackers, characterize it/them as unlawful activity by cybercriminals—motivated by financial gain.
                    
        section#sponcers
            h1 Our Sponcers
            div.simages
                img(src="/static/s.png", alt="", srcset="")
                img(src="/static/s1.png", alt="", srcset="")
                img(src="/static/s2.png", alt="", srcset="")
                img(src="/static/s3.png", alt="", srcset="")
                img(src="/static/s4.png", alt="", srcset="")
        section#footer
            p All copyrights are reserved by Programming.com
        
        