<!doctype html>
html
  head
    title Programming-Hub
    block scripts
    block style
        
  body
    header
            ul
                div.logo
                    img(src="/static/logo.jpg", alt="")
                li #[a(href='/') Home]
                li #[a(href='https://www.sih.gov.in/' target="_") Compititions]
                li #[a(href='/register') Registration]
                li #[a(href='/') About Us]
    block content
    section#footer
        p All copyrights are reserved by Programming.com
        